.footer-row {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
  margin-top: 30vh;
  margin-bottom: 40px;
}
.footer-col li a {
  color: white;
  text-decoration: none;
}
.footer-col li {
  display: flex;
  justify-content: center;
  list-style: none;
}
.footer-col h5 {
  text-align: center;
  color: white;
  margin-bottom: 50px;
  text-decoration: underline;
}
