.footer-row {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  padding-top: 200px;
  align-items: flex-end;
}
.footer-col li a {
  color: white;
  text-decoration: none;
}
.footer-col li {
  display: flex;
  justify-content: center;
  list-style: none;
}
.footer-col h5 {
  text-align: center;
  color: white;
  margin-bottom: 0;
  text-decoration: underline;
}
.footer-col {
  padding-bottom: 20px;
}
.icon-footer {
  padding-bottom: 10px;
}
