.row {
  display: flex;
  width: 100%;
  background: transparent;
  margin: 0 auto;
  justify-content: space-around;
}
.card {
  background: transparent;
  color: white;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
}
.btn-card {
  display: flex;
  justify-content: center;
  border-color: white !important;
  color: white !important;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
}
.card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.btn-card {
  margin-top: 15px;
}
.icon-footer {
  display: flex;
  justify-content: center;
}
.fontawesome {
  color: white;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
}
