.jumbotron {
  height: 100vh;
  background: black;
  color: white;
  display: flex;
  align-items: flex-start;
  padding-top: 20vh;
  margin-bottom: 0;
}
.jumbo-text {
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 5px;
}
.jumbo-text .lead {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
}
.btn-container {
  display: flex;
  justify-content: flex-end;
}
.btn-outline-dark {
  border-color: white !important;
  color: white !important;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
  margin-top: 10vh;
}
.btn-front {
  margin-right: 20px;
}
