.login-text {
  color: white;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
}
.input-bg {
  background-color: black !important;
  color: white;
  caret-color: white;
}
.login-contain {
  margin-top: 15vh;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px black inset;
  -webkit-text-fill-color: white;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}
input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 30px black inset;
  -webkit-text-fill-color: white;
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px black inset;
  -webkit-text-fill-color: white;
}
::-webkit-input-placeholder {
  color: gray !important;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
}
